

.gallary{
    margin-top: 110px;
}

.gallary-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallary-container{
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

    .big-img{
        grid-column: span 3;
        grid-row: span 2;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }
    .sm-img{
        grid-column: span 3;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        transition: all 0.3s;
    }

    img{
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 10px;
        transition: all 0.3s;
    }

    .overlay{
        position: absolute;
       // top: 0;
        right: 0;
        bottom: 120%;
        left: 0;
        background: #1D92CD80;
        transition: all 0.3s;

        a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50px;
            width: 50px;
            border-radius: 6px;
            color: $white;
            backdrop-filter: blur(6px);
            border: 1px solid #FFFFFF4D;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }

    .big-img:hover,
    .sm-img:hover{
        .overlay{
             bottom: 0;
             top: 0;
            
        }
    }
}