

.gallary{
    margin-top: 110px;

    @include md{
        margin-top: 55px;
    }
}

.gallary-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm{
        flex-direction: column;
    }

    .see-trips{
        @include sm{
            align-self: flex-end;
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }
}

.gallary-container{
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    @include xxl{
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
    @include xl{
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }
    @include md{
        grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    }

    @include sm{
        gap: 15px;
    }

    .big-img{
        grid-column: span 3;
        grid-row: span 2;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }
    .sm-img{
        grid-column: span 3;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        transition: all 0.3s;
    }

    img{
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 10px;
        transition: all 0.3s;
    }

    .overlay{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 120%;
        left: 0;
        background: #1D92CD80;
        transition: all 0.3s;

    }
    .search-icon{
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        width: 50px;
        border-radius: 6px;
        color: $white;
        backdrop-filter: blur(6px);
        border: 1px solid #FFFFFF4D;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
    }

    .big-img:hover,
    .sm-img:hover{
        .overlay{
             bottom: 0;
             top: 0;
            
        }
        .search-icon{
            top: 50%;
        }
    }
}