


.banner{
  background:  
  url("../../images/home/banner/banner.png"), 
  linear-gradient(91.18deg, rgba(28, 28, 28, 0.8) 0.88%, rgba(28, 28, 28, 0.2) 72.75%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 190px 0;
    background-blend-mode: overlay;

    @include md{
      padding: 100px 0;
    }
  
    &.style-1{
      .subtitle p{
        font-family: $font-niconne;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: $white;

        @include lg{
          font-size: 38px;
          line-height: 1.3;
        }
        @include md{
            font-size: 36px;
            line-height: 1.2;
        }
        @include sm{
          font-size: 32px;
          text-align: center;
        }
        @include xs{
          font-size: 28px;
          
        }
        @include xxs{
            font-size: 26px;
            
        }
      }

      .banner-title{
        font-family: $font-teko;
        font-weight: 600;
        font-size: 160px;
        line-height: 80px;
        color: $white;
        margin-top: 50px;
        margin-bottom: 80px;

        @include xl{
          font-size: 135px;
        }
        @include lg{
          font-size: 110px;
        }
        @include md{
          font-size: 105px;
          line-height: 1;
          margin-top: 20px;
          margin-bottom: 50px;

        }
        @include sm{
          font-size: 90px;
          text-align: center;
        }
        @include xs{
          font-size: 80px;
        }
        @include xxs{
          font-size: 65px;
        }
      }
    }
  } 
  
  .banner-btn-group{
    
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $white;
    border-radius: 10px 10px 0 0;
    padding: 8px 20px;
    width: auto;

    @include xs{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
    }

    button{
      border: none;
      color: $text-color;

      i{
        margin-right: 5px;
      }

      &.active{
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  
  .banner-search-container{
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    margin-top: -6px;
    width: max-content;

    .location,
    .adventure,
    .date{
      width: 250px;
      border: none;
      
      @include sm{
        max-width: 240px;
      }
    }

    .nice-select{
      border: none;
      margin-bottom: 0;
      border-right: 1px solid $border-clr;
      height: 45px;
      line-height: 45px; 
      color: #565256;   
      font-weight: 500;

      @include md{
        &:last-child{
          border-right: none;
        }
      }
    }

    .date{
      margin-left: 15px;

      input{
        &::placeholder{
          color: #565256;
          font-weight: 500;
        }
        
      }

      
    }

    .search-btn{
      .common-btn{
        font-weight: 600;
        color: $white;
        background-color: $primary-color;
        padding: 20px 29px;
        box-shadow: 0px 8px 20px 0px #1D92CD80;

        @include md{
          width: 100%;
        }

      }
    }

    @include md{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 5px 15px;
      gap: 15px;

    }

    @include xs{
      grid-template-columns: 1fr;
      margin: -6px auto;
      padding: 5px 35px 20px;
    }
    


  }