

.breadcrump{
    background: url("../../../images/breadcrum/breadcrump.png"),  linear-gradient(91.18deg, rgba(28, 28, 28, 0.8) 0.88%, rgba(28, 28, 28, 0.2) 72.75%);
    
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 120px;

    @include xxl{
        min-height: 300px;
    }
    @include xl{
        min-height: 270px;
    }
    @include lg{
        min-height: 240px;
    }
    @include md{
        min-height: 205px;
        margin-bottom: 70px;
    }
    @include sm{
        min-height: 180px;
    }
    @include xxs{
        min-height: 160px;
    }
}

.breadcrump-menu-path{
    display: inline-flex;
    align-items: center;
    padding: 10px 14px;
    background: #FFFFFF1A;
    backdrop-filter: blur(14px);
    border-radius: 6px;
    gap: 27px;

    @include sm{
        padding: 7px 10px;
    }

    a{
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        color: $white;

        @include md{
            font-size: 13px;
        }
        @include sm{
            font-size: 12px;
        }

         i{
            margin-right: 5px;
        }

        &:hover{
            text-decoration: underline;
        }
    }

    .path-name{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            background-color: $white;
            border-radius: 50%;

        }
    }
}

.current-page{
    font-family: $font-teko;
    font-weight: 500;
    font-size: 120px;
    line-height: 80px;
    color: $white;
    margin-top: 40px;

    @include xxl{
        font-size: 100px;
        margin-top: 30px;
    }
    @include xl{
        font-size: 90px;
        margin-top: 20px;
    }
    @include lg{
        font-size: 74px;
        margin-top: 10px;
    }
    @include md{
        font-size: 64px;
        margin-top: 5px;
        line-height: 1;
    }
    @include sm{
        font-size: 60px;
    }
    @include xs{
        font-size: 50px;
    }
    @include xxs{
        font-size: 48px;
    }
}