
.contact-section{
    margin-top: -15px;

    @include md{
        margin-top: -22px;
    }

    @include xs{
        margin-top: -40px;
    }
}

.contact-title{
    font-family: $font-teko;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.5;
    color: $text-black;

    @include md{
        font-size: 36px;
    }
    @include xs{
        font-size: 32px;
    }
    @include xxs{
        font-size: 28px;
    }

    &.social{
        font-size: 30px;

        @include md{
            font-size: 28px;
        }
        
    }
}

.widget-contact{

    &.style-2{
        span{
            background-color: $white;
            color: $text-color-3;
            border: 1px solid $border-clr;
        }

        .phone-num{
            h6{
                color: $text-black;
            }
            a,p{
                color: $text-color-3;
            }

            a:hover{
                color: $primary-color;
            }
        }
    }
} 

.contact-social-area{
    margin-top: 50px;

    @include sm{
        margin-top: 25px;
    }
}

.contact-social-container{

    display: flex;
    gap: 8px;
    margin-top: 10px;

    a{
        height: 44px;
        width: 44px;
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0;
        transition: 0.3s ease-in-out;

        &:hover{
            bottom: 5px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    .facebook{
        background-color: #1877F2;
    }
    .twitter{
        background-color: #1DA1F2;
    }
    .linkedin{
        background-color: #0A66C2;
    }
    .pinterest{
        background-color: #CB2027;
    }

    &.style-2{
        a{
            border-radius: 10px;
        }
        margin-top: 0;
    }
}

.contact-form-area{

    @include sm{
        margin-top: 15px;
    }
    @include xxs{
        margin-top: 0;
    }

    form{

        margin-top: 10px;

        input{
            height: 50px;
            border: 1px solid $border-clr;
            margin-bottom: 30px;
            border-radius: 6px;
            color: $text-black;
            width: 100%;
            padding: 0 15px;
            transition: 0.3s ease-in-out;

            @include md{
                margin-bottom: 20px;
            }

            &::placeholder{
                color: $text-color-3;
            }

            &:focus{
                border-color: $primary-color;
            }
        }

        textarea{
            border: 1px solid $border-clr;
            border-radius: 6px;
            color: $text-black;
            width: 100%;
            padding: 15px;
            transition: 0.3s ease-in-out;

            &:focus{
                border-color: $primary-color;
            }
        }

        .nice-select{
            height: 50px;
            margin-bottom: 30px;
            border-radius: 6px !important;
            display: flex;
            align-items: center;

            @include md{
                margin-bottom: 20px;
            }
            
            &:hover{
                border-color: $border-clr;
            }

            &:focus,
            &.oper{
                border-color: $primary-color;
            }

            span{
                color: $text-black;
                font-weight: 500;
            }
        }
    }
}

.submit-btn{
   margin-top: 30px; 

   @include md{
    margin-top: 20px;
   }
}

// google map section ================

.google-map{
    margin-top: 120px;

    @include md{
        margin-top: -40px;
    }
}

.mapouter{
    position: relative;
    text-align: right;
    width: 100%;
}

.gmap_canvas{
    overflow: hidden;
    background: transparent;
    width: 100%;
    margin-top: 100px;

    iframe{
        height: 550px;

        @include lg{
            height: 500px;
        }
        @include md{
            height: 400px;
        }
        @include sm{
            height: 350px;
        }
        @include xxs{
            height: 300px;
        }
    }
}