
.faq-section{

    &.for-pricing-package{
        margin-top: 110px;

        @include md{
            margin-top: 62px;
        }
    }
}

.faq-container{
    padding: 0 250px;

    @include xxl{
        padding: 0 180px;
    }
    @include xl{
        padding: 0 150px;
    }
    @include lg{
        padding: 0 100px;
    }
    @include md{
        padding: 0;
    }
    .accordion-item{
        background-color: $white;
        margin-bottom: 20px;
        border: 1px solid $border-clr;
        border-radius: 10px;
        overflow: hidden;

        @include sm{
            margin-bottom: 15px;
        }

        .accordion-header{

            .accordion-button{
                
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: $text-black;

                padding: 10px 30px;

                @include sm{
                    padding: 5px 20px;
                    font-size: 16px;
                }
                
                &.collapsed{
                    color: $text-black;

                    &::after{
                        background-color: $section-bg;
                        color: $text-black;
                    }
                }

                &:not(.collapsed){
                    background-color: $primary-color;
                    color: $white;

                    &::after{
                        color: $text-black;
                    }
                }
               
                

                &:focus{
                    background-color: $primary-color;
                    color: $white;
                    box-shadow: none;
                }


                &:after{
                    content: "\f107";
                    font-family: "Font Awesome 6 pro";
                    height: 32px;
                    width: 32px;
                    background-image: none;
                    background-color: $white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include xxs{
                        height: 28px;
                        width: 28px;
                    }
                }
               
            }
        }

        .accordion-body{
            width: 90%;
            padding-left: 30px;
            padding-bottom: 53px;
            margin-top: 6px;
            color: #616161E5;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;


            @include xxl{
                width: 95%;
            }
            @include xl{
                width: 100%;
            }

            @include sm{
                font-size: 16px;
                padding-bottom: 30px;
                padding-left: 20px;
            }

            @include xs{
                margin-top: 0;
                padding-bottom: 20px;
                line-height: 26px;
            }
        }
    }
}





