
// package grid view ============

.package-grid-view{
    margin-bottom: 120px;

    @include md{
        margin-bottom: 60px;
    }

    .lg-none{
        @include lg{
            display: none;
        }
        @include sm{
            display: block;
        }
    }
}

// package list view 
.package-list-view{
    margin-bottom: 120px;

    @include md{
        margin-bottom: 60px;
    }

    .package-item{
        display: flex;
        align-items: center;
        height: 100%;
        @include sm{
            flex-direction: column;
        }

        .package-image{
            height: 100%;

            @include xl{
                width: 40%;
            }
            @include sm{
                width: 100%;
            }
            a{
                display: block;
                height: 100%;
                img{
                   width: 100%;

                   height: 100%;
                }
            }
        }

        .package-details{
            flex: 1;
            padding: 0 50px 35px;

            @include xxl{
                padding: 0 30px 35px;
            } 
            @include xs{
                padding: 0 20px 35px;
            }
            .book-btn{
                @include xl{
                    margin-top: 0;
                }
            }
        }
    }
}


.sidebar-card-container{
    @include md{
        display: none;
    }
}

.sidebar-card{
    border: 1px solid $border-clr;
    border-radius: 10px;
    overflow: hidden;
    background: $white;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 5px 15px;

    @include xl{
        margin-bottom: 25px;

    }
}

.sidebar-card-title{
    font-family: $font-teko;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    color: $text-black;
    background-color: $section-bg;
    padding: 18px 30px;

    @include lg{
        font-size: 26px;
        padding: 12px 25px;
    }
}

.sidebar-card-content{
    padding: 30px;
    @include xl{
        padding: 30px 25px;
    }
    @include lg{
        padding: 25px 20px;
    }

    label{
        display: flex;
        align-items: center;
        gap: 14px;
        font-size: 16px;
        color: $text-color;
        font-weight: 500;
        margin-bottom: 16px;

        @include xxl{
            margin-bottom: 12px;
        }
        @include lg{
            margin-bottom: 10px;
        }

        input{
            border-color: $border-clr;
        }
    }
}


.package-header{
    padding: 10px;
    border: 1px solid $border-clr;
    border-radius: 6px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include sm{
        flex-direction: column;
        gap: 10px;
    }

    p{
        margin-bottom: 0;
        margin-left: 10px;
    }
}

.header-right{
    display: flex;
    align-items: center;
    gap: 10px;

    a{
        height: 40px;
        width: 68px;
        border-radius: 6px;
        background: #1D92CD1A;
        color: $text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        &.active{
            background-color: $primary-color;
            color: $white;
        }
    }

    .nice-select{
        height: 40px;
        background: #1D92CD1A;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        span{
            color: $text-color;
        }

    }
}

// price and day filter 
.filtered-price__min-max{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    span{
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        color: $text-color;
    }
}

.filtered-price__number{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

    span{
       font-size: 16px;
       font-weight: 500;
       color: $text-black; 
    }
}

.noUi-horizontal {
    height: 6px;
    background: #1C1C1C1A;

}
.noUi-connect {
    background: $primary-color;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    right: -6px;
    top: -7px;
    border-radius: 50%;
    box-shadow: 0px 4px 14px 0px #1C1C1C33;

}

.package-pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;

    @include xxl{
        margin-top: 50px;
    }
    @include md{
        margin-top: 30px;
    }

    button{
        height: 44px;
        width: 44px;
        border-radius: 6px;
        border: 1px solid $border-clr;
        font-weight: 500;
        font-size: 15px;
        color: $text-color;

        &:hover{
            background-color: $primary-color;
            color: $white;
        }
    }
}