

.cta{
    background-color: #1D92CD ;
    padding: 115px 0 100px;
    position: relative;
    overflow: hidden;
    margin-top: 120px;

    @include md{
        padding: 55px 0;
        margin-top: 60px;
    }

    &.sign-in{
        margin-top: 0;
    }
    &.contact-page{
        margin-top: 0;
    }
}

.cta-title{
    .section-title{
        color: $white;
        margin-left: 300px;

        @include xxl{
            margin-left: 200px;
        }
        @include xl{
            font-size: 70px;
        }

        @include lg{
            margin-left: 60px;
            font-size: 52px;
        }

        @include md{
            margin-left: 0;
        }
        @include sm{
            font-size: 44px;
            text-align: center;
        }

        @include xs{
            font-size: 36px;
        }
        @include xxs{
            font-size: 34px;
        }
    }
}

.cta-btn{
    background-color: $white;
    color: $title-color;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 34px ;
    border-radius: 6px;
    border: 1px solid transparent;

    @include xxs{
        padding: 10px 28px ;
    }

    i{
        margin-right: 7px;  
        font-size: 16px; 
    }

    &.active{
        background-color: $title-color;
        color: $white;

        &:hover{
            background-color: $white;
            color: $title-color;
            border-color: $title-color;
        }
    }

    &:hover{
        background-color: $title-color;
        color: $white;
    }
}

.cta-form {
    padding-left: 60px;
    z-index: 5;
    position: relative;

    @include md{
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    form{
        background-color: $white;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input{
            background-color: transparent;
            outline: none;
            width: 100%;
            padding: 2px 12px;

            &::placeholder{
                color: $text-color;
            }
        }
    }
}

.dowload-store{
    display: flex;
    margin-top: 30px;
    gap: 10px;

    @include md{
        justify-content: center;
    }
}

.shape-1{
    position: absolute;
    bottom: 0;
    left: 50px;

    @include xxl{
        left: 10px;

    }

    @include lg{
        display: none;
    }

    img{
       @include xxl{
        max-width: 80%;
       }
    }
}
.shape-2{
    position: absolute;
    top: 55px;
    left: 52%;
    animation: birds 8s linear infinite ;

    @include md{
        display: none;
    }
}
.shape-3{
    position: absolute;
    bottom: -80px;
    right: 200px;
    animation: plane 13s linear infinite ;

    @include xs{
        display: none;
    }
}

@keyframes plane {
    0% {
        bottom: -80px;
        right: 200px;
    }
    50% {
        bottom: 30%;
        right: 120px;
        transform: rotate(-45deg);
    }
    75% {
        bottom: 60%;
        right: 150px;
        transform: rotate(-60deg);
    }
    100% {
        bottom: 100%;
        right: 180px;
        transform: rotate(-70deg);
    }
}


// home 2 cta section

.cta-2{
    margin-top: 140px;
    @include md{
        margin-top: 70px;
    }

    &.inner-space{
        margin-top: 130px ;
    
        @include md{
            margin-top: 66px ;
        }
    }
}

.big-item{
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../images/cta/item1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:0 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;

    @include xxl{
        min-height: 320px;
        padding: 0 40px;
    }
    @include xl{
        min-height: 300px;
    }
    @include lg{
        min-height: 280px;
        padding: 0 25px;
    }
    @include sm{
        min-height: 250px;
        padding: 0 20px;
    }
    @include xs{
        min-height: 220px;
    }
}

.item-content{

    .sub-heading{
        p{
            color: $white;
            font-size: 30px;
            margin-bottom: 5px;

            @include sm{
                font-size: 24px;
            }
        }
    }
    .section-title{
        font-size: 54px;
        line-height: 1;
        color: $white;

        @include xl{
            font-size: 48px;
        }
        @include lg{
            font-size: 40px;
        }
        @include sm{
            font-size: 36px;
        }
        @include xs{
            font-size: 32px;
        }
    }

    .cta-form{
        padding-left: 0;
        width: 55%;
        margin-top: 32px;

        @include xxl{
            width: 60%;
        }
        @include xl{
            width: 80%;
            margin-top: 20px;
        }
        @include lg{
            margin-top: 15px;
           
        }
        @include sm{
            width: 90%;
        }
        @include xs{
            width: 100%;
        }

        .cta-btn{
            background-color: $black-900;
            color: $white;
        }
    }

    
}

.small-item{
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../images/cta/item2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 50px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include xxl{
        min-height: 320px;
        padding: 0 40px;
    }
    @include xl{
        min-height: 300px;
    }
    @include lg{
        min-height: 280px;
        padding: 0 25px;
    }
    @include sm{
        min-height: 250px;
        padding: 0 20px;
    }
    @include xs{
        min-height: 220px;
    }
}

.small-item-content{
    .section-title{
        font-size: 44px;
        color: $white;
        line-height: 1;

        @include xl{
            font-size: 40px;
        }
        @include lg{
            font-size: 36px;
        }
        @include xs{
            font-size: 32px;
        }

    }

    .dowload-store-2{
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;

        @include xs{
            margin-top: 20px;
        }
    }
}


// cta 3 =================

.cta-3{
    background-color: $primary-color;
    position: relative;
    padding: 140px 0 125px;
    margin-top: 140px;
   

    @include xl{
        padding: 100px 0 90px;
    }
    @include md{
        padding: 80px 0 70px;
        margin-top: 70px;
    }

    @include sm{
        padding: 60px 0 50px;
    }
    @include xs{
        padding-bottom: 0;
    }
}

.cta-3-title{
    font-family: $font-teko;
    font-weight: 600;
    font-size: 100px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;

    @include xxl{
        font-size: 80px;
    }
    @include xl{
        font-size: 64px;
    }
    @include lg{
        font-size: 56px;
    }
    @include md{
        font-size: 44px;
    }
    @include sm{
        font-size: 34px;
    }
    @include xs{
        text-align: center;
    }
}
.cta-3-img{
    position: absolute;
    right: 0;
    left: 50%;
    top: 0;
    bottom: 0;

    img{
        width: 100%;
        height: 100%;
    }

    @include xs{
        position: relative;
        left: 0;
        margin-top: 40px;
    }
}

.cta-3-sm-img{
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid $primary-color;

    @include sm{
        border-width: 5px;
    }
    @include xs{
        display: none;
    }

    img{
        @include xl{
            height: 120px;
            width: 120px;
        }
        @include md{
            height: 90px;
            width: 90px;
        }
        @include sm{
            height: 70px;
            width: 70px;
           
        }
    }
}