
.tour-package{
    margin-top: 112px;

    @include md{
        margin-top: 55px;
    }
}

.package-item{
    border: 1px solid $border-clr;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    .rating{
        left: -150px;
        top: 20px;
        right: unset;
        transition: all 0.3s;
    }

    &:hover{
        img{
            transform: scale(1.1);
        }
        .rating{
            left: 20px;
        }

        .common-btn{
            background-color: $primary-color;
            color: $white;
        }
    }
}

.package-image{
    overflow: hidden;

    img{
        width: 100%;
        transition: all 0.3s;
    }
}

.package-details{
    padding: 0 20px 40px;

    @include xl{
        padding: 0 15px 40px ;
    }
    @include lg{
        padding: 0 20px 40px ;
    }
}

.package-name{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 a{
        font-family: $font-teko;
        font-weight: 500;
        font-size: 30px;
        line-height: 70px;
        color: $title-color;

        &:hover{
            color: $primary-color;
        }

        @include xl{
            font-size: 26px;
        }
    }
    span{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: $text-color;
    }

}
.package-location{
    display: flex;
    gap: 10px;
    border: 1px solid $border-clr;
    border-radius: 6px;
    width: max-content;
    padding: 6px 14px;

    i{
        color: $primary-color;
    }
}

.price-book-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;

    @include xl{
        margin-top: 25px;
    }

    .book-btn{
        @include xl{
            margin-top: 20px;
        }
        @include lg{
            margin-top: 0px;
        }
    }
}

.price{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $text-color;

    del{
        margin-right: 5px;
    }

    .price-value{
        color: $primary-color;
    }
}

.view-all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 20px;

    @include md{
        margin-top: 40px;
    }
    @include sm{
        flex-direction: column;
    }

    p{
        width: auto;
       
        @include xxs{
            text-align: center;
        }
    }
}


// h2 limited time offer section

.limited-time{
    margin-top: 130px;

    @include md{
        margin-top: 60px;
    }

    .explore-more{
        @include sm{
            align-self: flex-end;
        }
    }
}

.limited-time-item{
    border: 1px solid #1C1C1C24;
    border-radius: 10px ;
    background-color: $white;
    padding: 5px;
    display: flex;
    height: 100%;
    gap: 30px;
    align-items: center;
    transition: all 0.3s linear;

    

    @include xxs{
        flex-direction: column;
        gap: 15px;
    }

    &:hover{
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        img{
            transform: scale(1.05);
        }

        .common-btn{
            background-color: $primary-color;
            color: $white;
        }

    }

    .package-location{
        @include xl{
            display: none;
        }

        @include md{
            display: flex;
        }

        @include sm{
            display: none;
        }
    }
}

.limited-time-item-img{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    @include xxs{
        width: 100%;
    }

    img{
        width: 100%;
        height: 100%;
        transition: all 0.3s linear;
    }
}

.limited-time-item-content{
    padding-right: 25px;
    padding-bottom: 10px;
    flex: 1;

    @include xxl{
      padding-right: 0;
    }
    @include xl{
        padding: 5px 0 20px ;
    }
    @include lg{
        flex: auto;
    }
    @include xxs{
        padding-left: 20px;
    }
}

.custom-gap{
    --bs-gutter-x: 80px;

    @include xxl{
        --bs-gutter-x: 24px;
    }
}
.offer-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include xl{
        flex-direction: column;
        align-items: start;
    }
    @include lg{
        gap: 10px;
        margin-bottom: 15px;
    }

    @include md{
        flex-direction: row;
        align-items: center;
    }
    @include sm{
        flex-direction: column;
        align-items: start;
    }

    h3 a{
        font-size: 30px;

        @include lg{
            font-size: 28px;
        }
        @include xs{
            font-size: 26px;
        }
    }
}

.text-book-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 18px;
    flex-wrap: wrap;

    @include xl{
        margin-top: 10px;
    }

    @include lg{
        gap: 25px;
    }

    p{
        margin-bottom: 0;
        width: auto;

        
        br{
            @include xxs{
                display: none;
            }
        }
    }
}