

.footer-area{
    background-color: $footer-bg;
    padding: 120px 0 0;

    @include md{
        padding: 60px 0 0;
    }
}

.footer-widget{
    @include xs{
        //text-align: center;
    }
    .desc-text{
        margin-top: 30px;
        padding-right: 20px;

        @include lg{
            padding-right: 0;
        }

        p{
            color: $footer-text;
            
        }
    }
}

.footer-social{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 38px;

    @include lg{
        margin-top: 30px;
    }

    @include xs{
        //justify-content: center;
    }

    a{
        height: 40px;
        width: 40px;
        border: 1px solid #FFFFFF1A;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 16px;
        font-weight: 600;

        &:hover{
            background-color: #1D92CD;
        }
    }
}

.footer-widget-title{
    font-family: $font-teko;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: $white;
    margin-bottom: 20px;

    @include lg{
        font-size: 28px;
    }
}
.widget_nav_menu{
    margin-top: 16px;

    @include xs{
        
    }

    ul > li{
        list-style: disc;
        a{
            font-weight: 500;
            font-size: 16px;
            line-height: 44px;
            color: $footer-text;

            &:hover{
                color: $white;
            }

            @include xl{
                line-height: 2;
            }
        }
    }
}
.widget-contact{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    padding-top: 7px;

    @include lg{
        margin-bottom: 0px;
    }

    &:last-child{
        margin-bottom: 0;
    }

    span{
        height: 40px;
        width: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color:#FFFFFF1A;
        color: $footer-text;
        font-size: 16px;

        
    }

    .phone-num{
        h6{
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: $white;
        }
        a,p{
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: $footer-text;
            margin-bottom: 0;
        }

        a:hover{
            color: $white;
        }
    }
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #FFFFFF1A;
    margin-top: 80px;
    padding: 30px 0;

    @include md{
        margin-top: 60px;
    }

    @include xs{
        flex-direction: column;
        gap: 10px;
    }
    p{
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0;
        color: $footer-text;
    }

    ul{
        display: flex;
        margin-bottom: 0;

        li{
            padding-right: 15px;
            border-right: 1px solid #FFFFFF1A;
            &:last-child{
                padding-right: 0;
                padding-left: 15px;
            }
            a{
                font-weight: 500;
                font-size: 16px;
                color: $footer-text;

                &:hover{
                    color: $white;
                }
            }
        }
    }
}