


.font-inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
}
.font-teko {
    font-family: "Teko", sans-serif;
    font-style: normal;
}
.font-niconne {
    font-family: "Niconne", cursive;
    font-style: normal;
}
  

body {
    font-family: "Inter", sans-serif;
}
