

// google font

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

  $font-expletus: "Expletus Sans", sans-serif;


  

/*--- preloader ---*/
#loading {
    background: #fff;

    // background-color: $section-bg;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0px;
    top: 0px;
  }

  
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  

.preloader-bar{
    width: 440px;
    border-radius: 10px;
    background-color: $white;
    height: 6px;
    overflow: hidden;

    @include md{
        width: 350px;
    }
    @include sm{
       width: 300px;
    }
    @include xs{
        width: 250px;
        margin: auto;
    }
    @include xxs{
        width: 200px;
    }

    .preloader-inner{
        background-color: $primary-color;
        height: 100%;
        animation: pre 2.5s linear;
    }

}
@keyframes pre {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

  
  .preloader-logo {
   
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    @include lg{
        margin-bottom: 30px;
    }
    @include xs{
        margin-bottom: 20px;
    }
  }
  
  .preloader-content {
    text-align: center;
  }

  .preloader-title{
    font-family: $font-expletus;
    font-weight: 700;
    font-size: 140px;
    line-height: 26px;
    color: $text-black;
    margin-top: 110px;

    @include xl{
        font-size: 120px;
        margin-top: 80px;
    }
    @include lg{
        font-size: 90px;
        margin-top: 50px;
    }
    @include md{
        font-size: 70px;
        margin-top: 40px;
    }
    @include sm{
        font-size: 60px;
        margin-top: 30px;
    }
    @include xs{
        font-size: 44px;
        margin-top: 20px;
    }


  }

 
  
  .preloader-subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 5px;
    color: $text-black;
    margin-top: 75px;

    @include lg{
        margin-top: 50px;
    }
    @include md{
        margin-top: 35px;
    }
    @include xs{
        margin-top: 20px;
    }
  }