
.blog-section{
    margin-top: 110px;

    @include md{
        margin-top: 55px;
    }
}

.blog-item{
    border: 1px solid $border-clr;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;

    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        img{
            transform: scale(1.1);
        }

        .common-btn{
            background-color: $primary-color;
            color: $white;
        }
    }
}

.see-articles{
    margin-top: 110px;
    @include sm{
        margin-top: 15px;
        margin-bottom: 25px;
        align-self: end;
    }
}
.blog-content{
    padding: 30px 30px 70px;

    @include xl{
        padding: 30px 24px 52px;
    }

    @include xs{
        padding: 30px 24px 45px;
    }
}

.blog-date-time{
    display: flex;
    align-items: center;
    p{
       font-weight: 500;
       font-size: 14px;
       line-height: 26px;
       color: $text-color; 
       margin-bottom: 0;

       .dot{
        display: inline-block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $primary-color;
        margin-left: 10px;
        margin-right: 10px;
       }
    }
}

.blog-title{
    margin-top: 5px;
    h3 {
        line-height: 30px;
        a{
            font-family: $font-teko;
            font-weight: 500;
            font-size: 24px;
            color: $title-color;
            transition: all 0.3s;

            &:hover{
                color: $primary-color;
            }
        }
    }
}

.blog-image{
   overflow: hidden;
   
    a{
        display: block;
    }
    img{
        width: 100%;
        transition: all 0.3s;
    }
}