
.explore-tour{
    margin-top: 110px;

    @include md{
        margin-top: 55px;
    }
}

.tour-item{
   border: 1px solid $border-clr;
   border-radius: 10px;
   overflow: hidden; 
   display: flex;
   align-items: center;
   transition: all 0.3s;
   height: 100%;

   &:hover{
    transform: scale(1.02);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
}

.tour-img{
    overflow: hidden;
    height: 100%;
    img{
        width: 100%;
        height: 100%;

        
    }
}

.tour-content{
    margin-left: 20px;
    @include xl{
        padding: 15px 0;
    }

    @include md{
        //margin-left: 10px;
       
    }
}
.place{
    h3 a{
        font-family: $font-teko;
        font-weight: 500;
        font-size: 26px;
        line-height: 40px;
        color: $title-color;

        &:hover{
            color: $primary-color;
        }
        @include xl{
            display: flex;
            flex-direction: column;
            line-height: 1.2;
        }
        @include lg{
            flex-direction: row;
        }
        @include md{
            flex-direction: column;
        }
        @include sm{
            flex-direction: row;
        }

        @include xxs{
            flex-direction: column;
            font-size: 22px;
        }
       
    }

    span{
       margin: 0 5px;
    }
}

.from{
    margin-top: 5px;

    @include xl{
        margin-top: 15px;
    }
    span{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: $primary-color;
        margin-left: 5px;
    }
}

.see-more{
    margin-top: 20px;

    @include xl{
        margin-top: 10px;
    }
    .common-btn{
        border: none;
        color: $title-color;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        padding-left: 0;

        &:hover{
            background-color: transparent;
            color: $primary-color;
        }
    }
}