
.choose-us{
    margin-top: 110px;

    @include md{
        margin-top: 55px;
    }
}

.choose-us-item{
    border: 1px solid $border-clr;
    border-radius: 10px;
    padding: 35px 40px;
    position: relative;
    transition: all 0.3s;

    @include xl{
        padding: 30px 25px;
    }
    @include sm{
        padding: 25px 16px;
    }

    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .choose-us-img{
            left: 40%;

            @include xxl{
                left: 35%;
            }
            @include lg{
                left: 40%;
            }
            @include md{
                left: 40%;
            }
            @include sm{
                left: 35%;
            }
            @include xs{
                left: 40%;
            }
            @include xxs{
                left: 38%;
            }
        }
    }
}

.devider{
    height: 1px;
    background-color: $border-clr;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}
.choose-us-img{
    border: 1px solid $border-clr;
    border-radius: 10px;
    padding: 13px;
    width: max-content;
    position: relative;
    z-index: 2;
    background-color: $white;
    transition: all 0.3s;
    left: 0;
    height: 66px;
    width: 66px;
}

.choose-us-content{
    margin-top: 35px;
    @include lg{
        margin-top: 15px;
    }
    h3 a{
        font-family: $font-teko;
        font-weight: 500;
        font-size: 40px;
        line-height: 58px;
        color: $title-color;

        i{
            font-size: 24px;
            margin-left: 3px;

            @include xl{
                font-size: 20px;
            }
            @include lg{
                font-size: 18px;
            }
        }

        &:hover{
            color: $primary-color;
        }

        @include xxl{
            font-size: 30px;
        }
        @include xl{
            font-size: 26px;;
        }
        @include lg{
            font-size: 30px;
        }
        @include xs{
            font-size: 26px;
        }
        
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $text-color;
    }
}