
.explore-dreamland{
    margin-top: 110px;

    @include md{
        margin-top: 55px;
    }
}

.explore-dreamland-item {
    position: relative;
    background: linear-gradient(180deg, rgba(26, 45, 109, 0) 0%, #1A2D6D 100%);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;

    img{
        width: 100%;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(26, 45, 109, 0) 0%, #1A2D6D 100%);
    }
}

.rating{
    position: absolute;
    top: 24px;
    right: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $text-color-2;
    padding: 9px;
    background-color: $white;
    border-radius: 6px;

    i{
        color: #FFA121;
        margin-right: 2px;
    }
}
.location-name{
    position: absolute;
    left: 35px;
    bottom: 40px;
    
    h3{
        font-family: $font-teko;
        font-weight: 500;
        font-size: 40px;
        line-height: 57px;
        color: $white;

        @include md{
            font-size: 34px;
            line-height: 1;
        }

        @include sm{
            font-size: 32px;
        }
        @include xs{
            font-size: 30px;
        }
    }

    a{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        transition: all 0.3s;

        i{
            margin-left: 5px;
            position: relative;
            transition: all 0.5s;
        }
    }
}

// home 2 top destination

.top-destination{
    margin-top: 130px;

    @include md{
        margin-top: 65px;
    }
}

.destination-item{
    overflow: hidden;
}

.destination-image{
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    img{
        width: 100%;
        border-radius: 10px;
        transition: 0.4s ease-in-out;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 120%;
        background: #1D92CDB2;
        transition: 0.4s ease-in-out;

        .icon{
            position: absolute;
            width: auto;
            left: 50%;
            
            transform: translateX(-50%);
           
            top: -100px;
            transition: 0.4s ease-in-out;
        }

        a{
            height: 60px;
            width: 60px;
            background-color: $white;
            color: $text-black;
            font-size: 24px;
            display: inline-flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;

            @include xl{
                height: 44px;
                width: 44px;
                font-size: 22px;
            }

            i{
                rotate: -45deg;
                transition: all 0.4s linear;
            }

            &:hover{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                color: $primary-color;

                i{
                    rotate: 0deg;
                }
            }
        }

    }

    &:hover{
        img{
            transform: scale(1.05);
        }

        .overlay{
            bottom: 0;

            .icon{
                top: 50%;
                transform: translate(-50% , -50%);
            }

        }
    }
}

.destination-content{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

    @include sm{
        padding-top: 20px;
        padding-bottom: 20px;

    }


    p{
        color: $gray-2;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin-bottom: 12px;

        @include sm{
            margin-bottom: 5px;
        }
    }
}
