
.about-us{
    background: url('../../images/about/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0;
    margin-top: 120px;

    @include md{
        padding-top: 60px;
        padding-bottom: 68px;
        margin-top: 55px;
    }
}

.about-us-imgs{
    display: flex;
    align-items: center;
    gap: 30px;
}
.double-img{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-content{

    margin-left: 75px;

    @include xl{
        margin-left: 50px;
    }
    @include lg{
        margin-left: 30px;
    }

    @include md{
        margin-left: 0;
        margin-top: 28px;
    }

    .section-header{
        margin-bottom: 20px;
    }
    .section-title{
        font-size: 60px;
        line-height: 65px;

        @include xl{
            font-size: 50px;
            line-height: 1.1;
        }

        @include lg{
            font-size: 44px;
        }

        @include sm{
            font-size: 42px;
        }
        @include xs{
            font-size: 34px;
        }
        @include xxs{
            font-size: 32px;
        }
    }

    
}

.about-item-container{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 35px;

    @include lg{
        gap: 25px;
        margin-top: 20px;
    }
    @include xxs{
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }
}

.about-item{
    display: flex;
    gap: 15px;
    align-items: center;

    @include lg{
        gap: 10px;
    }

   

    h3 a{
        font-family: $font-teko;
        font-weight: 500;
        font-size: 30px;
        line-height: 80px;
        color: $title-color;

        &:hover{
            color: $primary-color;
        }

        @include lg{
            font-size: 26px;
        }

        @include xs{
            font-size: 24px;
        }
    }
}
.item-icon{
    height: 64px;
    width: 64px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-more-btn{
    margin-top: 60px;

    @include lg{
        margin-top: 25px;
    }
}

// home 2 about section ============

.about-us-2{
    margin-top: 120px;
    position: relative;
}
.about-us-imgs-container{
    display: flex;
    gap: 34px;


    .first-column,
    .second-column{
        display: flex;
        flex-direction: column;
        gap: 34px;

        img{
            width: 100%;
            border-radius: 30px;
        }
    }
    .first-column{
        margin-top: 34px;
    }
}

.about-item-container-2{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
}

.about-item-2{
    display: inline-flex;
    gap: 28px;
    height: auto;
}

.item-icon-2{
    height: 64px;
    width: 70px;
    background-color: $white;
    border: 1px solid $border-clr;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.about-item-content{
    .desc-text{
        width: 65%;

        p{
            font-size: 15px;
        }
    }
}

.animate-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: $primary-color;
    color: $white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px #1D92CD80;
    font-size: 26px;
    position: absolute;
}
.location-icon{
    bottom: 50px;
    right: 200px;
    i{
        animation: location-dot 2s linear infinite; 
    }
}

@keyframes location-dot {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.send-icon{
    background-color: #FACD49;
    box-shadow: 0px 8px 20px 0px #FACD4980;

    color: black;
    top: 80px;
    right: 100px;
    rotate: -75deg;
}
.plane-1{
    position: absolute;
    left: 0px;
    top: 5px;
    animation: plane-1 40s linear infinite;
}

@keyframes plane-1 {
    0%{
        left: 0;
    }
    100%{
       left: 100%;
    }
}
.plane-2{
    position: absolute;
    left: 20%px;
    bottom: 0;
    //rotate: -15deg;
    animation: plane-2 70s linear infinite;
}

@keyframes plane-2 {
    0%{
        left: 20%;
    }
    100%{
       left: 100%;
       bottom: 50%;
    }
}